@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(25, 24, 29);
  position: relative;
  color: white;
  overflow-x: hidden;
  background-image: url("david-marcu-78A265wPiO4-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 88;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header-overlay {
  background: linear-gradient(
    150deg,
    rgba(74, 69, 69, 0.85),
    rgba(59, 41, 55, 0.85),
    rgba(56, 24, 51, 0.85),
    rgba(27, 5, 20, 0.85)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header .container-fluid .row {
  padding: 0;
}

#titles-col {
  z-index: 5;
  height: 100%;
}

.titles {
  position: relative;
  text-align: center;
  font-family: "Azeret Mono", monospace;
}

.titles h1 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  letter-spacing: 1px;
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.605);
}

.titles h2 {
  font-size: 1.2rem;
  text-shadow: 3px 4px 5px rgba(22, 21, 21, 0.653);
}

#img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;
  margin: 1rem 0;
}

#profile {
  width: 50vw;
  max-width: 300px;
  height: 100%;
  border-radius: 50% 10%;
  margin-top: 1rem;
  box-shadow: 10px 10px 35px 20px rgba(17, 10, 16, 0.7);
}

.list {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.list ul li {
  z-index: 5;
  list-style-type: none;
  color: white !important;
}

.btn-front {
  width: 8rem;
  margin: auto;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Azeret Mono", monospace;
  background-color: rgba(12, 11, 11, 0.673);
  border: 4px solid rgba(12, 11, 11, 0);
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.6rem 1rem !important;
  text-transform: uppercase;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  margin-top: 1.5rem;
}

.btn-front:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: transparent;
  box-shadow: -7px -7px 0.5rem rgb(255, 0, 98, 0.8);
  border: 4px solid rgb(255, 0, 98, 0.8);
}

/*PROJECTS*/

#projects {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#projects h2 {
  padding: 2rem 0;
  text-align: center;
  background-color: rgb(29, 28, 34);
  font-family: "Azeret Mono", monospace;
  font-size: 1.5rem;
  margin: 0;
  z-index: 9;
  text-decoration: #fff underline;
  text-underline-offset: 2px;
}

.project-container {
  max-width: 80%;
}

.project-container .row {
  margin: 0;
  padding-bottom: 5%;
  width: 100%;
  z-index: 888 !important;
}

.project-img-col {
  text-align: center;
  position: relative;
  z-index: 888 !important;
}

.project-img {
  width: 100%;
  z-index: 888 !important;
  border-radius: 10px;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: scale(0) rotate(180deg) skew(45deg);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(15, 1, 15, 0.85);
  text-align: center;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-img-col:hover .project-overlay {
  transform: scale(1);
  cursor: pointer;
}

.project-overlay h4 {
  font-size: 1.1rem;
  width: 80%;
  font-family: "Azeret Mono", monospace;
  margin-bottom: 1rem;
}

#iss {
  width: 90%;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

.icon {
  font-size: 1.2rem;
  padding: 0 0.5rem;
  transition: 0.4s;
}

.icon:hover {
  background-color: rgba(49, 48, 48, 0.673);
}

.btn-project {
  width: 5rem;
  font-size: 0.7rem;
  background-color: rgb(255, 0, 98);
  color: #fff;
  text-transform: uppercase;
  margin-top: 1.1rem;
  transition: 0.4s ease-in;
  border: 3px solid rgb(255, 0, 98);
  box-shadow: 5px 5px rgba(255, 0, 98, 0.6);
}

.btn-project:hover {
  background-color: transparent;
  transition: 0.4s;
  color: #fff;
  box-shadow: -5px -5px rgba(255, 0, 98, 0.6), inset 5rem 1rem transparent;
}

/*ABOUT*/
#about {
  width: 100%;
  min-width: 100%;
  background-color: rgb(29, 28, 34);
}

.about-container {
  padding: 0;
}

.about-container .row {
  margin: 0;
  padding: 0;
}

.about-container h3 {
  padding: 2rem 0;
  text-align: center;
  font-family: "Azeret Mono", monospace;
  font-size: 1.5rem;
  margin: 0;
  z-index: 9;
  text-decoration: #fff underline;
  text-underline-offset: 2px;
}

.about-me {
  width: 100vw;
  background-color: rgb(29, 28, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.about-me p {
  width: 65%;
  height: 60%;
  text-align: start;
  margin: 0 auto 1rem auto;
  font-size: 1.4rem;
}

#hr1 {
  width: 70%;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 1px rgb(253, 253, 253);
}

.skills {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.skills h4 {
  width: 80%;
  text-align: center;
  margin: auto;
}

.skill-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 0;
}

.skill-icon {
  font-size: 5rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.skill-icon:hover {
  transform: scale(1.15);
}

.personal-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
  padding-right: 0;
}

.personal-info h4 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.personal-info p {
  width: 90%;
  font-size: 0.85rem;
  padding-bottom: 1.3rem;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.605);
}

.personal-info span {
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Azeret Mono", monospace;
  color: #fff;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 450px) {
  #profile {
    width: 200px;
  }

  .list ul {
    flex-direction: row;
  }

  .list ul li {
    margin: 1rem;
  }

  .btn-front {
    font-size: 1rem;
    width: 10rem;
  }

  .btn-front:hover {
    box-shadow: -7px -7px 0.5rem rgb(255, 0, 98),
      inset 10rem 0 0 0 rgba(57, 42, 48, 0);
  }

  .project-overlay h4 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .icons {
    padding: 0.1rem 0.5rem;
    margin-bottom: 1.2rem;
  }

  .icon {
    font-size: 1.8rem;
  }

  .btn-project {
    width: 10rem;
    font-size: 1rem;
  }

  .personal-info h4 {
    font-size: 1.6rem;
  }

  .personal-info p {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }

  .personal-info span {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  #titles-col {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  #img-col {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titles {
    width: 80%;
    margin-left: 20%;
    margin-right: 0;
  }

  .titles h1 {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }

  .titles h2 {
    font-size: 1.4rem;
  }

  .img {
    margin-right: 20%;
  }

  #profile {
    width: 70%;
    max-width: 300px;
  }

  .list {
    margin-top: 3rem;
  }

  .list ul li {
    margin-left: 1rem !important;
  }

  .btn-front {
    font-size: 1rem;
    margin: 0.5rem !important;
  }

  #projects h2 {
    padding: 3rem 0;
    font-size: 2rem;
  }

  .project-overlay h4 {
    font-size: 1.3rem;
    margin-bottom: 2.2rem;
  }

  #currency {
    margin-bottom: 1rem;
  }

  .project-overlay p {
    font-size: 1rem;
  }

  .icons {
    padding: 0.1rem 1rem;
    margin-bottom: 0.8rem;
  }

  .icon {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .icon {
    font-size: 1.4rem;
  }

  .btn-project {
    width: 7rem;
    font-size: 0.8rem;
  }

  .about-me {
    width: 50%;
  }

  .personal-info {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  #titles-col {
    align-items: flex-end;
  }

  #img-col {
    justify-content: flex-start;
  }

  .titles {
    margin-right: 2rem;
    text-align: end;
  }

  .titles h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .titles h2 {
    font-size: 1.6rem;
  }

  .img {
    margin-left: 2rem;
  }

  #profile {
    max-width: 350px;
    height: 100%;
  }

  .btn-front {
    font-size: 1.2rem;
    width: 12rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
      inset 0 0 0 0 rgba(255, 0, 98, 0.6);
  }

  .btn-front:hover {
    box-shadow: -10px -10px 0.5rem rgb(255, 0, 98),
      inset 12rem 0 0 0 rgba(0, 0, 0, 0);
  }

  .project-overlay h4 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .icons {
    padding: 0.2rem 0.8rem;
    margin-top: 0;
  }

  .icon {
    font-size: 1.8rem;
  }

  .btn-project {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1600px) {
  .about-container h3 {
    font-size: 2.2rem;
  }

  .about-me p {
    height: auto;
    font-size: 2rem;
  }

  .skills {
    height: auto;
  }

  .skill-icon {
    font-size: 7rem;
  }

  .personal-info h4 {
    font-size: 2rem;
  }

  .personal-info p {
    font-size: 1.7rem;
  }

  .personal-info p span {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 2000px) {
  #titles-col {
    height: 50vh;
    align-items: flex-end;
    padding-right: 2rem;
  }

  #img-col {
    height: 50vh;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  .titles h1 {
    font-size: 3.5rem;
  }

  .titles h2 {
    font-size: 2rem;
  }

  #profile {
    width: 70%;
    max-width: 500px;
  }

  .btn-front {
    width: 15rem;
    font-size: 1.8rem;
    padding: 1.5rem 2rem !important;
    margin: 2rem !important;
  }

  .btn-front:hover {
    box-shadow: -10px -10px 0.5rem rgb(255, 0, 98),
      inset 15rem 0 0 0 rgba(57, 42, 48, 0);
  }

  #projects h2 {
    padding: 4rem 0;
    font-size: 3rem;
  }

  .project-overlay h4 {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }

  #currency {
    margin-bottom: 1rem;
  }

  .project-overlay p {
    font-size: 1.8rem;
  }

  .icons {
    padding: 0.8rem 1.5rem;
    margin-bottom: 1.2rem;
  }

  .icon {
    font-size: 3rem;
  }

  .btn-project {
    font-size: 2rem;
    width: 12rem;
    padding: 1rem;
    box-shadow: 10px 10px rgba(255, 0, 98, 0.6);
  }

  .btn-project:hover {
    box-shadow: -10px -10px rgba(255, 0, 98, 0.6), inset 12rem 1rem transparent;
  }

  #about {
    max-height: 1000px;
  }

  .about-container {
    padding-top: 6rem;
  }
}
