@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(25, 24, 29);
  position: relative;
  color: white;
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 88;
}

header {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: rgba(86, 31, 70, 0.85);
}

header .container-fluid .row {
  padding: 0;
}

#titles-col {
  z-index: 5;
  height: 100%;
}

.titles {
  position: relative;
  text-align: center;
  font-family: "Azeret Mono", monospace;
}

.titles h1 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  letter-spacing: 1px;
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.605);
}

.titles h2 {
  font-size: 1.2rem;
  text-shadow: 3px 4px 5px rgba(22, 21, 21, 0.653);
}

#img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;
  margin: 1rem 0;
}

#profile {
  width: 50vw;
  max-width: 300px;
  height: 100%;
  border-radius: 50% 10%;
  margin-top: 1rem;
  box-shadow: 10px 10px 35px 20px rgba(17, 10, 16, 0.7);
}

.list {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.list ul li {
  z-index: 5;
  list-style-type: none;
  color: white !important;
}

.btn-front {
  width: 8rem;
  margin: auto;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Azeret Mono", monospace;
  background-color: rgba(12, 11, 11, 0.673);
  border: 4px solid rgba(12, 11, 11, 0);
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.6rem 1rem !important;
  text-transform: uppercase;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  margin-top: 1.5rem;
}

.btn-front:hover {
  color: #fff;
  background-color: transparent;
  box-shadow: -7px -7px 0.5rem rgb(255, 0, 98, 0.8);
  border: 4px solid rgb(255, 0, 98, 0.8);
}

svg {
  margin: 0;
  height: 300px;
}

/*PROJECTS*/

#projects {
  width: 100%;
  height: 100%;
}

#projects h2 {
  padding: 2rem 0;
  text-align: center;
  font-family: "Azeret Mono", monospace;
  font-size: 1.5rem;
  margin: 0;
  z-index: 9;
  text-decoration: #fff underline;
  text-underline-offset: 2px;
}

.project-container {
  width: 95%;
}

.project-container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 3%;
  padding-top: 3%;
  width: 100%;
  z-index: 888 !important;
}

.project-img-col {
  text-align: center;
  position: relative;
  
}

.project-img {
  width: 100%;
  border-radius: 10px;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0) rotate(180deg) skew(45deg);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(7, 2, 6, 0.9);
  text-align: center;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999 !important;
  transform-origin: center;
}

.project-img-col:hover .project-overlay {
  transform: scale(1);
  cursor: pointer;
}

#momentum {
  height: 110%;
}

#momentum li,
#iss li {
  font-size: 0.7rem;
}

#momentum .btn {
  margin-top: 0;
}

#news .btn {
  margin-top: 0;
}

.project-overlay h4 {
  font-size: 1.1rem;
  width: 80%;
  font-family: "Azeret Mono", monospace;
  margin-bottom: 0.7rem;
  text-decoration: underline;
  text-decoration-color: rgb(240, 0, 104);
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.project-list {
  width: 95%;
  text-align: start;
}

.project-list li {
  font-size: 0.85rem;
  list-style: none;
}

.project-list li::before {
  content: "\00BB";
  color: rgb(255, 0, 98);
}

.btn-project {
  width: 5rem;
  font-size: 0.7rem;
  background-color: rgb(255, 0, 98);
  color: #fff;
  text-transform: uppercase;
  transition: 0.4s ease-in;
  border: 3px solid rgb(255, 0, 98);
  box-shadow: 5px 5px rgba(255, 0, 98, 0.6);
  margin-top: 1.3rem;
}

.btn-project:hover {
  background-color: transparent;
  transition: 0.4s;
  color: #fff;
  box-shadow: -5px -5px rgba(255, 0, 98, 0.6), inset 5rem 1rem transparent;
}

.project-description {
  display: none;
}

/*ABOUT*/
#about {
  width: 100%;
  min-width: 100%;
  background-color: rgb(40, 23, 40);
  clip-path: ellipse(100% 100% at 45.96% 100%);
}

.about-container {
  padding: 0;
}

.about-container .row {
  margin: 0;
  padding: 0;
}

.about-container h3 {
  padding: 5rem 0;
  text-align: center;
  font-family: "Azeret Mono", monospace;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
  z-index: 9;
  text-decoration: #fff underline;
  text-underline-offset: 2px;
  height: 50px;
  clip-path: ellipse(48% 100% at 49.96% 0%);
  border-top-left-radius: 150%;
  border-top-right-radius: 50%;
}

.about-me {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.about-me p {
  width: 65%;
  height: 60%;
  text-align: start;
  margin: 0 auto 1rem auto;
  font-size: 1.4rem;
}

#hr1 {
  width: 70%;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 1px rgb(253, 253, 253);
}

.skills {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.skills h4 {
  width: 80%;
  text-align: center;
  margin: auto;
}

.skill-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 0;
}

.skill-icon {
  font-size: 5rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.skill-icon:hover {
  transform: scale(1.15);
}

.personal-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
  padding-right: 0;
}

.personal-info h4 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.personal-info p {
  width: 90%;
  font-size: 0.85rem;
  padding-bottom: 1.3rem;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.605);
}

.personal-info span {
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Azeret Mono", monospace;
  color: #fff;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 400px) {
  .project-img-col {
    max-width: 400px;
  }

  #momentum,
  #iss {
    height: 100%;
  }

  .project-list li,
  #momentum li,
  #iss li {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 576px) {
  header {
    height: 75vh;
  }

  .about-container svg {
    height: 200px;
  }

  #profile {
    width: 200px;
  }

  .list ul {
    flex-direction: row;
  }

  .list ul li {
    margin: 1rem;
  }

  .btn-front {
    font-size: 1rem;
    width: 10rem;
  }

  .btn-front:hover {
    box-shadow: -7px -7px 0.5rem rgb(255, 0, 98),
      inset 10rem 0 0 0 rgba(57, 42, 48, 0);
  }

  .project-overlay h4 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .project-list {
    margin-bottom: 2rem;
  }

  .project-list li {
    font-size: 1rem;
    margin-top: 0.6rem;
  }

  #momentum h4 {
    margin: 0;
  }

  #momentum .project-list {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }

  .btn-project {
    width: 8rem;
    font-size: 1rem;
  }

  .personal-info h4 {
    font-size: 1.6rem;
  }

  .personal-info p {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }

  .personal-info span {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 65vh;
  }

  .about-container svg {
    height: 300px;
  }

  #titles-col {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  #img-col {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titles {
    width: 80%;
    margin-left: 20%;
    margin-right: 0;
  }

  .titles h1 {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }

  .titles h2 {
    font-size: 1.4rem;
  }

  .img {
    margin-right: 20%;
  }

  #profile {
    width: 70%;
    max-width: 300px;
  }

  .list {
    margin-top: 3rem;
  }

  .list ul li {
    margin-left: 1rem !important;
  }

  .btn-front {
    font-size: 1rem;
    margin: 0.5rem !important;
  }

  #projects h2 {
    padding: 3rem 0;
    font-size: 2rem;
  }

  .project-overlay {
    display: none;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .project-description h4 {
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 98);
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
  }

  .project-img-col {
    width: 50%;
  }

  .project-description ul {
    margin: 0;
    padding: 0;
  }

  .project-description li {
    font-size: 0.85rem;
  }

  .btn-project {
    width: 6rem;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 992px) {
 
  .project-img-col {
    width: 350px;
  }

  .project-description {
    width: 350px;
  }

  .about-me {
    width: 50%;
  }

  .personal-info {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  svg {
    height: 400px;
  }

  .about-container svg {
    height: 400px;
  }

  #titles-col {
    align-items: flex-end;
  }

  #img-col {
    justify-content: flex-start;
  }

  .titles {
    margin-right: 2rem;
    text-align: end;
  }

  .titles h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .titles h2 {
    font-size: 1.6rem;
  }

  .img {
    margin-left: 2rem;
  }

  #profile {
    max-width: 350px;
    height: 100%;
  }

  .btn-front {
    font-size: 1.2rem;
    width: 12rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
      inset 0 0 0 0 rgba(255, 0, 98, 0.6);
  }

  .btn-front:hover {
    box-shadow: -10px -10px 0.5rem rgb(255, 0, 98),
      inset 12rem 0 0 0 rgba(0, 0, 0, 0);
  }

  .btn-project {
    width: 7rem;
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 1600px) {
  svg {
    height: 500px;
  }


  .project-description {
    width: 500px;
  }

  .project-img-col {
    width: 500px;
  }

  .project-description h4 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  .project-list li {
    font-size: 1rem;
  }

 

  .about-container svg {
    height: 450px;
  }

  .about-container h3 {
    font-size: 2.2rem;
  }

  .about-me p {
    height: auto;
    font-size: 2rem;
  }

  .skills {
    height: auto;
  }

  .skill-icon {
    font-size: 7rem;
  }

  .personal-info h4 {
    font-size: 2rem;
  }

  .personal-info p {
    font-size: 1.7rem;
  }

  .personal-info p span {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 2000px) {
  svg {
    height: auto;
  }
  .about-container svg {
    height: auto;
  }
  #titles-col {
    height: 50vh;
    align-items: flex-end;
    padding-right: 2rem;
  }

  #img-col {
    height: 50vh;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  .titles h1 {
    font-size: 3.5rem;
  }

  .titles h2 {
    font-size: 2rem;
  }

  #profile {
    width: 70%;
    max-width: 500px;
  }

  .btn-front {
    width: 12rem;
    font-size: 1.3rem;
    padding: 1.2rem 1.5rem !important;
    margin: 2rem !important;
  }

  .btn-front:hover {
    box-shadow: -10px -10px 0.5rem rgb(255, 0, 98),
      inset 15rem 0 0 0 rgba(57, 42, 48, 0);
  }

  #projects h2 {
    padding: 4rem 0;
    font-size: 3rem;
  }

  .project-description {
    margin-left: 2%;
    margin-right: 2%;
  }

  .project-description h4 {
    font-size: 2rem;
  }

  .project-description li {
    font-size: 1.2rem;
  }

  
  .project-img-col  {
    margin-left: 2%;
    margin-right: 2%;
  }

  #about {
    max-height: 1000px;
  }

  .about-container {
    padding-top: 6rem;
  }
}
